<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
<title>CCD</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="ccd,comfort cloth diaper" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href="../css/bootstrap.css" rel='stylesheet' type='text/css' />
<link href="../css/style.css" rel='stylesheet' type='text/css' />
<link href="../css/owl.carousel.css" rel="stylesheet">
<script src="../js/jquery.min.js"></script>
    <link href="../assets/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../assets/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <!--<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700">-->

<!--JS for animate-->
	<link href="../css/animate.css" rel="stylesheet" type="text/css" media="all">
	<script src="../js/wow.min.js"></script>
		<script>
			new WOW().init();
		</script>
	<!--//end-animate-->
</head>
<body ng-app="myApp" ng-controller="myctrl">
    <!--header-top-->
    <div class="header-top">
        <div class="container">
            <div class="head-main">
                <!--<div class="col-md-4 head-right wow fadeInLeft animated" data-wow-delay=".5s">
                    <p><span class="glyphicon glyphicon-earphone hh" aria-hidden="true"></span>Information Service : 000-1234-1234</p>
                </div>-->
                <div class="col-md-6 head-middle animated wow fadeInDown animated animated" data-wow-duration="1200ms" data-wow-delay="500ms">
                    <h1>
                        <a href="#">
                            <img src="../images/Logo.jpg" />
                        </a>
                    </h1>
                </div>

                <div class="col-md-6 head-left wow fadeInRight animated" data-wow-delay=".5s">
                    <ul>                    
                        <li><a href="#" class="btn azm-social azm-size-64 azm-circle azm-long-shadow azm-facebook"><i class="fa fa-facebook">/comfortclothdiaper</i></a></li>
                        <li><a href="#" class="btn azm-social azm-size-64 azm-circle azm-long-shadow azm-instagram"><i class="fa fa-instagram">/comfortclothdiaper</i></a></li>                        
                        <li><a href="#" class="btn azm-social azm-size-64 azm-circle azm-long-shadow azm-twitter"><i class="fa fa-twitter"></i>/comfortclothdiaper</a></li>                                            
                    </ul>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <!--header-top-->
    <!--navigation-starts-->
    <div class="navigation animated wow fadeInDown animated animated nav-background-color" data-wow-duration="1200ms" data-wow-delay="500ms">
        <span class="menu"></span>
        <ul class="navig cl-effect-16">
            <!--<li class="active"><a href="index.html">Home</a></li>-->
            <!--<li><a href="parents.html">Parents</a></li>
            <li><a href="babysitters.html">Baby Sitters</a></li>-->
            <li><a href="#gallery">Gallery</a></li>
            <li><a href="#reviews">Reviews</a></li>
            <li><a href="#faq">FAQ</a></li>
            <li><a href="#contact">Contact Us</a></li>
        </ul>
    </div>
    <!--navigation-end-->
    <!--script-for-menu-->
    <script>
        $("span.menu").click(function () {
            $(" ul.navig").slideToggle("slow", function () {
            });
        });
    </script>
    <!--script-for-menu-->
    <!--welcome-->
    <div class="welcome">
        <div class="container">
            <h2>Welcome</h2>
            <div class="col-md-7 welcome-left wow fadeInLeft animated" data-wow-delay=".5s">
                <h5>
                    Why Confort Cloth Diaper?

                </h5>
                <p>
                    Comfort cloth diaper is made in and made for India.<br />
                    <b>Baby friendly:</b>Comfort cloth diapers are made with high quality fabric which babies love to wear.<br />
                    <b>Mother friendly:</b>Our inserts are made with highly absorbent material so you can enjoy your motherhood without frequent nappy changing job.<br />
                    It gives comfort of cloth  and convenience of disposables.<br />
                    <b>Happy parenthood.</b>
                </p>
            </div>
            <div class="col-md-5 welcome-right wow fadeInRight animated" data-wow-delay=".5s">
                <h4>Available Sizes</h4>
                <p>Small/New born(upto 6KG)</p>
                <p>Medium(5-10KG)</p>
                <p>Large(9-14KG)</p>
                <!--<div class="news">
                    <div class="form-group">
                        <form action="#" method="post">
                            <input type="text" name="search" class="form-control" placeholder="Search">
                            <button type="submit" class="btn btn-default" aria-label="Left Align">
                                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                            </button>
                        </form>
                    </div>
                </div>-->
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <!--welcome-->
    <!--banner-starts-->
    <!--<div class="banner">
        <section class="slider">
            <div class="flexslider">
                <ul class="slides">
                    <li>
                    <div class="banner1">
                        <div class="container">
                            <div class="banner-text">
                                <p>Vivamus id dui et augue</p>
                                <h3>Caring Baby Sitters For Your Kids</h3>
                            </div>
                        </div>
                    </div>
                    </li>
                    <li>
                    <div class="banner2">
                        <div class="container">
                            <div class="banner-text">
                                <p>Vivamus id dui et augue</p>
                                <h3>Caring Baby Sitters For Your Kids</h3>
                            </div>
                        </div>
                    </div>
                    </li>
                    <li>
                    <div class="banner1">
                        <div class="container">
                            <div class="banner-text">
                                <p>Vivamus id dui et augue</p>
                                <h3>Caring Baby Sitters For Your Kids</h3>
                            </div>
                        </div>
                    </div>
                    </li>
                    <li>
                    <div class="banner2">
                        <div class="container">
                            <div class="banner-text">
                                <p>Vivamus id dui et augue</p>
                                <h3>Donec eu dolor ac erat sodales rutrum</h3>
                            </div>
                        </div>
                    </div>
                    </li>
                </ul>
            </div>
        </section>

    </div>-->
    <!--banner-end-->
    <!--FlexSlider-->
    <link rel="stylesheet" href="css/flexslider.css" type="text/css" media="screen" />
    <script defer src="../js/jquery.flexslider.js"></script>
    <script type="text/javascript">
        $(window).load(function () {
            $('.flexslider').flexslider({
                animation: "slide",
                start: function (slider) {
                    $('body').removeClass('loading');
                }
            });
        });
    </script>
    <!--End-slider-script-->
    <!--projects-->
    <div class="gallery" id="gallery">        
        <div class="container">
            <h2>Gallery</h2>      
        </div>           
    </div>    
    <div class="project animated wow animated animated" data-wow-duration="1200ms" data-wow-delay="500ms">
        <!--<div class="container">
        </div>-->
        <div class="gallery-cursual" id="gallery">
            <!--requried jsfiles for owl-->
            <!--//requried-jsfiles-for owl-->
            <!--start content_slider-->
            <div id="owl-demo" class="owl-carousel text-center">
                <div class="item">
                    <img class="lazyOwl img-responsive" data-src="../images/product3.jpg" alt="name">
                </div>
                <div class="item">
                    <img class="lazyOwl img-responsive" data-src="../images/azlan1.jpg" alt="name">
                </div>
                <div class="item">
                    <img class="lazyOwl img-responsive" data-src="../images/product4.jpg" alt="name">
                </div>
                <div class="item">
                    <img class="lazyOwl img-responsive" data-src="../images/product5.jpg" alt="name">
                </div>
                <!--<div class="item">
                    <img class="lazyOwl" data-src="images/zayaan1.jpg" class="img-responsive" alt="name">
                </div>-->
                <div class="item">
                    <img class="lazyOwl img-responsive" data-src="../images/azlan2.jpg" alt="name">
                </div>
                <div class="item">
                    <img class="lazyOwl img-responsive" data-src="../images/product2.jpg" alt="name">
                </div>
                <div class="item">
                    <img class="lazyOwl img-responsive" data-src="../images/product1.jpg" alt="name">
                </div>
                <!--<div class="item">
                    <img class="lazyOwl" data-src="images/8.jpg" class="img-responsive" alt="name">
                </div>
                <div class="item">
                    <img class="lazyOwl" data-src="images/7.jpg" class="img-responsive" alt="name">
                </div>-->
            </div>
            <!--sreengallerycursual-->
        </div>
    </div>
    <!--projects-->
    <div class="events" id="reviews">
        <div class="container">
            <h2>Reviews</h2>
            <p class="fugiat colr">
                Few words of our customer experiance.
            </p>
            <div class="events-grid">

                <div class="col-md-4 events-grid-left wow fadeInLeft animated" data-wow-delay=".5s">
                    <div class="events-grid-left-top">
                        <p><i class="glyphicon glyphicon-calendar" aria-hidden="true"></i><span>19th april 2015 at 11:30 AM</span></p>
                    </div>
                    <img src="../images/s2.jpg" alt="" class="img-responsive">
                    <div class="events-pos">
                        <p>
                            I am really very happy with product.
                        </p>
                    </div>
                </div>
                <div class="col-md-4 events-grid-left animated wow fadeInDown animated animated" data-wow-duration="1200ms" data-wow-delay="500ms">
                    <div class="events-grid-left-top">
                        <p><i class="glyphicon glyphicon-calendar" aria-hidden="true"></i><span>24th jan 2017 at 1:30 AM</span></p>
                    </div>
                    <img src="../images/s3.jpg" alt=" " class="img-responsive">
                    <div class="events-pos">
                        <p>
                            It's really amazing.Better than any disposable diapers.
                        </p>
                    </div>
                </div>
                <div class="col-md-4 events-grid-left wow fadeInRight animated" data-wow-delay=".5s">
                    <div class="events-grid-left-top">
                        <p><i class="glyphicon glyphicon-calendar" aria-hidden="true"></i><span>8th aug 2016 at 7:30 PM</span></p>
                    </div>
                    <img src="../images/s1.jpg" alt=" " class="img-responsive">
                    <div class="events-pos">
                        <p>
                            Want one more.
                        </p>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    <!--services-->
    <!-- FAQ -->
    <div class="faq">
        <div class="container">
            <section>
                <div class="page-header" id="faq">
                    <h2>FAQ</h2>
                </div>

                <div class="panel-group" id="accordion">

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="panel-title">
                                <a href="#collapse-1" data-toggle="collapse" data-parent="#accordion">
                                    Should I need to wash diapers before using?
                                </a>
                            </div><!--End of [anel title-->
                            <div id="collapse-1" class="panel-collapse collapse">
                                <div class="panel-body">
                                    When you first get your new cloth diapers, wash them in warm water once with detergent before your baby wears them. This will remove any chemicals or other substances left over from manufacturing and it will increase insert’s absorbency.
                                </div>
                            </div><!---End Panel Collapse-->
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="panel-title">
                                <a href="#collapse-2" data-toggle="collapse" data-parent="#accordion">
                                    Will my baby get rashes with cloth diaper?
                                </a>
                            </div><!--End of [anel title-->
                            <div id="collapse-2" class="panel-collapse collapse">
                                <div class="panel-body">
                                    Most babies will get diaper rash whether they use cloth or disposable diapers. Though they typically get it less with cloth diapers, it still happens. While changing your baby frequently helps in preventing diaper rash. Most commercial diaper creams that contain petroleum or mineral oils will coat the fibers of your diapers and will cause them to repel water and leak. If you need to use a diaper cream, look for those that are safe for cloth diapers that rinse out easily with regular diaper laundry washing.
                                </div>
                            </div><!---End Panel Collapse-->
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="panel-title">
                                <a href="#collapse-3" data-toggle="collapse" data-parent="#accordion">
                                    Can I bleach my cloth diapers?
                                </a>
                            </div><!--End of [anel title-->
                            <div id="collapse-3" class="panel-collapse collapse">
                                <div class="panel-body">
                                    No you can’t bleach. We recommend to avoid Pure Soaps, Softeners, Artificial Brighteners, Fragrances, Dyes, Sodium Hydroxide (Lye), Vinegar, Chlorine Bleach, Brush.
                                </div>
                            </div><!---End Panel Collapse-->
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="panel-title">
                                <a href="#collapse-4" data-toggle="collapse" data-parent="#accordion">
                                    Will the waterproof layers make my baby too hot?
                                </a>
                            </div><!--End of [anel title-->
                            <div id="collapse-4" class="panel-collapse collapse">
                                <div class="panel-body">
                                    No. our diapers have waterproof layers which aren’t made of sweaty plastic of vinyl. Instead, we use a material called Polyester Laminate that lets air in, while keeping water out! 
                                </div>
                            </div><!---End Panel Collapse-->
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="panel-title">
                                <a href="#collapse-5" data-toggle="collapse" data-parent="#accordion">
                                    I have multiple kids in diapers. Is this for me?
                                </a>
                            </div><!--End of [anel title-->
                            <div id="collapse-5" class="panel-collapse collapse">
                                <div class="panel-body">
                                    Absolutely – as a matter of fact, cloth diapers are ideal for moms with bigger families.
                                    You will save so much money, and you’ll never have to do a last-minute run to the store lugging kids and/or toddlers with you! The best part is, you can wash them all together – so it barely increases your laundry load.
                                </div>
                            </div><!---End Panel Collapse-->
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="panel-title">
                                <a href="#collapse-6" data-toggle="collapse" data-parent="#accordion">
                                    How to wash cloth diapers? Do I need any special care?
                                </a>
                            </div><!--End of [anel title-->
                            <div id="collapse-6" class="panel-collapse collapse">
                                <div class="panel-body">
                                    If your baby is exclusively breastfed you don't need to rinse the diaper at all - the poop will wash right out. If your older baby is eating solid foods, then you will need to dump most of the solid waste into the toilet before washing. Some parents uses diaper sprayer that attaches to the toilet to remove solid. If you have diaper with Velcro, stick it in opposite direction. Never leave Velcro open. Wash diapers with lots of water and with little quantity normal detergent.
                                    NOTE: Don't use fabric softener, EVER. That will coat the fabric fibers and prevent them from fluffing to full absorbency.
                                </div>
                            </div><!---End Panel Collapse-->
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="panel-title">
                                <a href="#collapse-7" data-toggle="collapse" data-parent="#accordion">
                                    Can I use Cloth diaper overnight?
                                </a>
                            </div><!--End of [anel title-->
                            <div id="collapse-7" class="panel-collapse collapse">
                                <div class="panel-body">
                                    Even if many parents uses more and more inserts for night diapering, we don’t recommend overnight diapering. For baby’s health concern, we recommend to change the diaper at least once or twice (if baby is only on breastfeed). Keeping baby in dirty diapers for long time, is not only unhygienic but also insulting for them it is disposables or cloth diaper.
                                </div>
                            </div><!---End Panel Collapse-->
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="panel-title">
                                <a href="#collapse-8" data-toggle="collapse" data-parent="#accordion">
                                    My baby’s diapers smell fine out of the washer, but as soon as s/he wets them, they smell awful. Why?
                                </a>
                            </div><!--End of [anel title-->
                            <div id="collapse-8" class="panel-collapse collapse">
                                <div class="panel-body">
                                    The simple answer is that your detergent may not be rinsing out completely. If you have very hard water, try adding Calgon into your rinse cycle. If you change detergents, you may need to try stripping your diapers. Run a full hot wash cycle without detergent, repeating until the water is free of suds, then drying as usual.
                                </div>
                            </div><!---End Panel Collapse-->
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="panel-title">
                                <a href="#collapse-9" data-toggle="collapse" data-parent="#accordion">
                                    Where does the smell come from?
                                </a>
                            </div><!--End of [anel title-->
                            <div id="collapse-9" class="panel-collapse collapse">
                                <div class="panel-body">
                                    When a wet cloth diaper smells very bad, it’s most likely due to an overproduction of ammonia. Ammonia in the body is converted to urea, and excreted. Once the urine is released, the urea begins converting back to ammonia, causing the smell. However, lingering urea in the diaper/insert, along with certain types of bacteria can speed up and increase the production of ammonia. So if you smell an unusually strong odor after your baby pees, there’s probably some biological residue hanging around. Residue usually builds up when you don’t use enough detergent or hot water to wash and rinse your diapers clean. If there is too little of either, the urine is diluted, instead of being rinsed away. It’s recycled in the wash and dries onto the fabric, causing a stinky odor.
                                </div>
                            </div><!---End Panel Collapse-->
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="panel-title">
                                <a href="#collapse-10" data-toggle="collapse" data-parent="#accordion">
                                    Why my diapers leaking?
                                </a>
                            </div><!--End of [anel title-->
                            <div id="collapse-10" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p><b><u>Absorbency Issues:</u></b></p>
                                    While our diapers are made from highly absorbent materials, your routine will depend largely on your child’s wetting habits and his/her body. Diapers are not meant to be left on for endless hours, period. So if you’re facing leak issues, test to see first if shortening your time between changes helps first. Diapers typically need to be changed every 3-4 hours. Sometimes sooner if you have a newborn or a heavy-wetter. Most babies tend to pee just shortly after eating and waking up. So you might want to check on their diaper around that time.
                                    <p><b><u>Sizing and fit issues:</u></b></p>
                                    Diapers that are too big, too small, or just have a poor fit will cause diapers to leak. If your baby is too small, the diaper may not tuck tightly around his/her waist & legs, leaving gaps for pee to leak out. You can try for a one size lower and keep this diaper at rest till it fits. For baby boys, make sure you're pointing his penis down before tucking the fresh diaper around him. This will help keep wetness within the diaper, instead of up and out.
                                    <p><b><u>Repelling Issues:</u></b></p>
                                    If you've got residues or buildup in your diapers, the diaper will repel wetness and not absorb it. To test for this, try pouring some warm water into the inside of the diaper. Does it absorb straight into the fabric, or just roll around without ever soaking in? As long as the water soaks in, you’re good. To overcome this issue, wash cloth diapers 4 – 5 times with warm water without detergent.
                                </div>
                            </div><!---End Panel Collapse-->
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="panel-title">
                                <a href="#collapse-11" data-toggle="collapse" data-parent="#accordion">
                                    Why my diapers are smelling? Do I need to throw it away? Is it all over with it?
                                </a>
                            </div><!--End of [anel title-->
                            <div id="collapse-11" class="panel-collapse collapse">
                                <div class="panel-body">
                                   <p>There are a couple of reasons why this happens: </p>
                                    <b><u>Hard water:</u></b>Depending where you live, there may be an excess of calcium and magnesium mineral deposits in your water, making it “hard”. This means detergent doesn’t work as well, and minerals are actually being deposited back into the diapers, which can cause a less-than-fabulous smell.
To solve your hard water problem: ‘strip’ the diapers. This just means running a full hot wash cycle with no detergent.<br /><br />
                                    <b><u>Bacteria build up / Detergent residue: </u></b>If you know hard water isn’t your issue, then the culprit is probably detergent residue and/or bacteria in the diapers/inserts.
Letting your inserts dry in the sun is also a great way to combat diaper smell. The sun is a natural disinfectant, stain remover, and whitener.<br /><br />
                                    <b><u>Urine Residue: </u></b>As more and more people replace their washing machines with high efficiency front-loader models, we have seen more of this type of residue. <br />
                                    <p>How do you know if you have urine residue? Here are a few symptoms:</p>                                  
                                    1.The smell of urine on diapers fresh out of the wash. <br />2.They smell clean out of the laundry, but like ammonia after the first pee. <br /><u>To solve your urine residue problem: </u><br />
                                    Try doing several detergent-free hot water washes, then throw the diapers/inserts and wraps in the dryer. If rinses don’t work – you must increase the level of water used to wash and rinse your diapers.
                                </div>
                            </div><!---End Panel Collapse-->
                        </div>
                    </div>                   

                </div><!--end panel group-->
            </section>
        </div><!--End container-->
    </div>
    <div class="services" id="contact">
        <div class="container">
            <h3>Contact Us</h3>
            <section id="contact">
               <!-- <div class="container">-->
                    <!--<div class="row">
                        <div class="col-lg-12 text-center">
                            <h2>Contact Me</h2>
                            <hr class="star-primary">
                        </div>
                    </div>-->
                    <div class="row">
                        <div class="col-lg-6">
                            <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19. -->
                            <!-- The form should work on most web servers, but if the form is not working you may need to configure your web server differently. -->
                            <form name="contactForm" id="contactForm" method="post" ng-cloak role="form">
                                <div class="row control-group">
                                    <div class="form-group col-xs-12 floating-label-form-group controls">
                                        <input type="text" class="form-control" placeholder="Name*" id="name" name="name" ng-model="name" ng-pattern="/^[a-zA-Z\s]+$/" autocomplete="off" required>
                                        <!--<p class="help-block text-danger"></p>-->
                                        <span class="mandatory-fields"
                                              ng-show="contactForm.name.$dirty && contactForm.name.$invalid">
                                            <span ng-show="contactForm.name.$error.required">Please enter Name.</span>
                                            <span ng-show="contactForm.name.$error.pattern">Please enter valid Name.</span>
                                        </span>
                                    </div>
                                </div>
                                <div class="row control-group">
                                    <div class="form-group col-xs-12 floating-label-form-group controls">
                                        <input type="email" class="form-control" placeholder="Email Address*" id="email" name="email" ng-model="email" ng-pattern="/^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$/" autocomplete="off" required>
                                        <!--<p class="help-block text-danger"></p>-->
                                        <span class="mandatory-fields"
                                              ng-show="contactForm.email.$dirty && contactForm.email.$invalid">
                                            <span ng-show="contactForm.email.$error.required">Please enter Email.</span>
                                            <span ng-show="contactForm.email.$error.pattern">Please enter valid Email.</span>
                                        </span>
                                    </div>
                                </div>
                                <div class="row control-group">
                                    <div class="form-group col-xs-12 floating-label-form-group controls">
                                        <input type="tel" class="form-control" placeholder="Contact Number*" id="contactNumber" name="contactNumber" ng-model="contactNumber" ng-minlength="10" ng-maxlength="10" ng-pattern="/^\d+$/" required>
                                        <!--<p class="help-block text-danger"></p>-->
                                        <span class="mandatory-fields"
                                              ng-show="contactForm.contactNumber.$dirty && contactForm.contactNumber.$invalid">
                                            <span ng-show="contactForm.contactNumber.$error.required">Please enter Contact Number.</span>
                                            <span ng-show="contactForm.contactNumber.$error.pattern">Please enter valid Contact Number.</span>
                                            <span ng-show="contactForm.contactNumber.$error.maxlength">Contact Number should be of 10 digit. </span>
                                        </span>
                                    </div>
                                </div>
                                <div class="row control-group">
                                    <div class="form-group col-xs-12 floating-label-form-group controls">
                                        <textarea rows="5" class="form-control" placeholder="Message*" id="message" name="message" ng-model="message" ng-minlength="20"
                                                                                  ng-maxlength="250" required></textarea>
                                        <!--<p class="help-block text-danger"></p>-->
                                        <span class="mandatory-fields"
                                              ng-show="contactForm.message.$dirty && contactForm.message.$invalid">
                                            <span ng-show="contactForm.message.$error.minlength">Please enter at least 20 characters</span>
                                            <span ng-show="contactForm.message.$error.maxlength">Maximum 250 characters are allowed</span>
                                        </span>
                                    </div>
                                </div>
                                <br>
                                <div id="success"></div>
                                <div class="row">
                                    <div class="form-group col-xs-12 col-md-12 col-lg-12">
                                        <!--<button type="submit" class="btn btn-primary btn-lg width100">Submit</button>-->
                                        <input class="btn btn-submit  btn-lg width100" ng-disabled='contactForm.$invalid' value="Submit" type="button" ng-click="submit()">
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-lg-6">
                            <div class="map">
                                <iframe src="https://www.google.co.in/maps/embed?place/Magarpatta+City,Hadapsar/@18.5159877,73.9167402,15z/data=!4m12!1m6!3m5!1s0x0:0xb0e231d60b2cfc81!2sMagarpatta+City+Main+Gate!8m2!3d18.5147012!4d73.9322484!3m4!1s0x0:0xf8f8f4a792c1beb2!8m2!3d18.5156702!4d73.9263394" style="border:0" allowfullscreen=""></iframe>
                            </div>
                        </div>
                    </div>
            </section>

            <!--<div class="col-md-6 servc-grids wow fadeInLeft animated" data-wow-delay=".5s">
                <div class="servc-grid">
                    <div class="col-xs-3 servc-grid-left">
                        <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
                    </div>
                    <div class="col-xs-9 servc-grid-right">
                        <h4>cum soluta nobis est eligendi</h4>
                        <p>Itaque earum rerum hic tenetur a sapiente delectus, ut aut
                        reiciendis voluptatibus maiores alias consequatur aut</p>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="servc-grid">
                    <div class="col-xs-3 servc-grid-left">
                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                    </div>
                    <div class="col-xs-9 servc-grid-right">
                        <h4>cum soluta nobis est eligendi</h4>
                        <p>Itaque earum rerum hic tenetur a sapiente delectus, ut aut
                            reiciendis voluptatibus maiores alias consequatur aut</p>
                    </div>
                    <div class="clearfix"> </div>
                </div>

                 <img src="images/s3.jpg" class="img-responsive" alt="/">
            </div>
            <div class="col-md-6 servc-grids1 wow fadeInRight animated" data-wow-delay=".5s">
                <img src="images/s1.jpg" class="img-responsive" alt="/">
                <div class="servc-grid">
                    <div class="col-xs-3 servc-grid-left">
                        <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
                    </div>
                    <div class="col-xs-9 servc-grid-right">
                        <h4>cum soluta nobis est eligendi</h4>
                        <p>Itaque earum rerum hic tenetur a sapiente delectus, ut aut
                        reiciendis voluptatibus maiores alias consequatur aut</p>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="servc-grid">
                    <div class="col-xs-3 servc-grid-left">
                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                    </div>
                    <div class="col-xs-9 servc-grid-right">
                        <h4>cum soluta nobis est eligendi</h4>
                        <p>Itaque earum rerum hic tenetur a sapiente delectus, ut aut
                            reiciendis voluptatibus maiores alias consequatur aut</p>
                    </div>
                    <div class="clearfix"> </div>
                </div>

            </div>-->           
        </div>
        <div id="successMsg" class='successMsg'>{{toastMessage}}</div>
    </div>
    <!--services-->
    <!--footer-starts-->
    <div class="footer">
        <div class="container">
            <div class="footer-top">
                <!--<div class="col-md-4 footer-right wow fadeInLeft animated" data-wow-delay=".5s">
                        <form action="#" method="post">
                            <input type="text" value="Your Email" name="email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Your Email';}">
                            <input type="submit" value="Subscribe">
                        </form>
                    </div>-->
                <div class="col-md-12 footer-left">
                    <div class="a-1" style="margin-bottom:30px">
                        <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
                        <p>ZAYAAN ENTERPRIZES</p>
                        <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                        <p>contact@example.com</p>                       
                        <span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span>
                        <p>+134 326 3695</p>
                        <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>
                        <p>+122 265 8822</p>
                    </div>
                    <!--<div class="a-2">
                        
                    </div>-->
                </div>
                <!--<div class="col-md-6 footer-left wow fadeInRight animated" data-wow-delay=".5s">
                    <div class="a-1">
                        
                    </div>
                    <div class="a-2">
                        
                    </div>
                </div>-->
            </div>
         
        </div>
        <p class="copyright">© 2017 Comfort Cloth Diaper. All Rights Reserved</p>
    </div>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="../server.js"></script>
    <script src="../js/owl.carousel.js"></script>
    <script>
        $(document).ready(function () {
            $("#owl-demo").owlCarousel({
                items: 4,
                lazyLoad: true,
                autoPlay: true,
                pagination: false,
            });
        });
    </script>
    <!-- Latest compiled and minified JavaScript -->
    <!--footer-end-->
</body>

</html>